<%- include ('../../partials/header.ejs') %>
<div class="container">
  <h2>Artigos</h2>
  <a href="/admin/articles/new" class="btn btn-success button-new-category">Criar novo artigo</a>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Id</th>
        <th>Título</th>
        <th>Slug</th>
        <th>Categoria</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <% articles.forEach(article => { %>
      <tr>
        <td><%= article.id %></td>
        <td><%= article.title %></td>
        <td><%= article.slug %></td>
        <td><%= article.category.title %></td>
        <td>
          <form
            method="POST"
            action="/articles/delete"
            class="form-delete"
            onsubmit="confirmDelete(event, this)">
            <input type="hidden" name="id" value="<%= article.id %>" />
            <button class="btn btn-danger">Deletar</button>
          </form>
        </td>
      </tr>
      <% }) %>
    </tbody>
  </table>
</div>
<%- include ('../../partials/footer.ejs') %>
<script>
  const confirmDelete = (event, form) => {
    event.preventDefault();
    const answer = confirm("Você quer deletar este artigo?");
    if (answer) {
      form.submit();
    }
  };
</script>
