<%- include ('../../partials/header.ejs') %>
<div class="container">
    <h2>Categorias</h2>
    <a href="/admin/categories/new" class="btn btn-success button-new-category">Criar nova categoria</a>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Título</th>
                <th>Slug</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <% categories.forEach(category => { %>
                <tr>
                    <th><%= category.id %></th>
                    <th><%= category.title %></th>
                    <th><%= category.slug %></th>
                    <th>
                        <a href="/admin/categories/edit/<%= category.id %>" class="btn btn-warning">Editar</a>
                        <form method="POST" action="/categories/delete" class="form-delete" onsubmit="confirmDelete(event, this)">
                            <input type="hidden" name="id" value="<%= category.id %>">
                            <button class="btn btn-danger">Deletar</button>
                        </form>
                    </th>
                </tr>
            <% }) %>
        </tbody>
    </table>
</div>
<%- include ('../../partials/footer.ejs') %>
<script>
 const confirmDelete = (event, form) => {
    event.preventDefault();
    const answer = confirm("Você quer deletar esta categoria?");
    if (answer) {
        form.submit();
    }
 }
</script>
